*{
  /* color: white; */
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 11px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;

}

.center h3{
  font-size: 15px;
  font-weight: 600;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2{
  font-size: 20px;
  font-weight: 600;
  margin: 2px 0 0 0;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.center .tag{
  display: flex;
  gap: 5px;
  /* margin-top: -20px; */
  margin: 8px 0 0 0;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.center .tag h4{
  font-size: 14px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  padding: 5px 9px;
  border-radius: 5px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #dbdbdb;
  padding-top: 15px;
}

.bottom button{
  background-color: black;
  color: white;
  padding:  5px 10px ;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin: 0px 0px 20px;
}

.bottom h3{
  font-size: 17px;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  margin: 0px;
  padding: 0px;
}

.bottom p{
  padding: 0xp;
  margin: 5px;
  font-size: 13px;
  color: #8b8b8b;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}