* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Verdana, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 15px 35px;
    margin: 40px;
    font-size: 20px;
    /* border: none; */
    cursor: pointer;
    border-radius: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 70px;
    margin: 40px;
    margin-bottom: 0px;
    font-size: 50px;
}