*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html, body{
    height: 100%;
    width: 100%;
}

button{
    margin: 10px;
    padding: 30px;
    border-radius: 20px;
}
input{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: large;
}

.box{
    height: 200px;
    width: 200px;
    background-color: teal;
    border: 2px solid black;
}

.page1{
    height: 100vh;
    width: 100%;
    background-color: lightcoral;
}
.page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(157, 137, 137);
}
.page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(61, 59, 59);
}