@import "tailwindcss";

*{
  /* background-color: black; */
  /* color: white; */
}

form{
  /* color: white; */
  border-color: white;
  /* display: block; */
  padding: 50px;
  margin-left: 100px;
}
input{
  border: 2px solid black;
  padding: 5px ;
  margin-top: 5px;
  border-radius:5px;
}

.error{
  color: red;
}
