.card{
    width: 20vw;
    border: 2px solid black;
    margin: 34px;
    height: 300px;
    overflow: hidden;
}
.card h1, p{
    text-align: center;
    gap: 10px;
    margin: 5px;
}

.card img{
    height: 220px;
    width: 120px;
    border-radius: 10px;
    margin: 10px 80px 0px 80px;

}