.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: rgb(220, 219, 219);
    color: rgb(0, 0, 0);
    width: 100vw;
    padding: 10px;
}